<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

    <h1>VDIProject</h1>
    <p>
        Проект, направленный на создание Virtualization Desktop Infrastructures, создание web приложение, которое запушенное на сервере сможет управлять VM, так как для постояной работы виртуальных машин тратятся ресурсы, а сами они нужны для временных задач, была придумана идея, создание информациионной системы, которая позволит запускать людям не сильно разбирающихся в виртуализации рабочих мест. Проект является аналогом VDI, не являектся аналогом терминального сервера. Является open source проектом.
    </p>

    <h1>Как будет работать</h1>
    <p>
        Пользователь заходит на сайт, и видит список машин, которые ему доступны, он включает нужную машину, и подключается к ней удалленно, так же ему показываются данные для подключения к ВМ. При долгом отсутсвие работы машины, она должны выключится
    </p>
    <h1>
        <a href="/getListVM">Список виртуальный машин</a>
    </h1>


    <br>
    <br>
</body>
</html>